@import url(./stilos.css);

.titulo {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: auto; 
    background-color: #f4f4f9; 
    padding: 20px; 
}

.titulo h1 {
    font-size: 3rem; 
    color: #333; 
    font-family: 'Arial', sans-serif; 
    text-align: center; 
    padding: 20px; 
    border: 2px solid #4CAF50; 
    border-radius: 10px; 
    background-color: #e8f5e9; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.contenido-historial {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.compra {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.compra h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.compra ul {
    list-style: none;
    padding: 0;
}

.compra li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}