@import url(./stilos.css);

.titulo {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: auto; 
    background-color: #f4f4f9; 
    padding: 20px; 
}

.titulo h1 {
    font-size: 3rem; 
    color: #333; 
    font-family: 'Arial', sans-serif; 
    text-align: center; 
    padding: 20px; 
    border: 2px solid #4CAF50; 
    border-radius: 10px; 
    background-color: #e8f5e9; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.contenedor-labels {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    margin: 20px auto; 
    max-width: 600px; 
    padding: 10px; 
}

.label-material {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: #f4f4f9; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 10px 15px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.imagen-material {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.label-text {
    flex: 1; 
    text-align: center; 
    font-family: 'Arial', sans-serif; 
    font-size: 1rem; 
    color: #333; 
}

.label-text p {
    margin: 5px 0; 
}

.icon-btn {
    font-size: 3rem; 
    color: black; 
    cursor: pointer; 
}