:root{
    --color-boton-registrar-material: #007bff;
    --color-boton-ver-invetario: #f39c12;
    --color-boton-generar-reporte: #28a745;
    --color-boton-volver: #8e44ad;
}
.contenedor-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
    position: relative;
    margin-top: 13%;
}

.fila-superior {
    display: flex;
    align-items: center;
    gap: 200px;
}

.fila-media {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.fila-inferior {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 60px;
}

/* Estilo general de botones */
.btn {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 50px 80px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 10px 8px rgba(0,0,0,0.5);
    transition: transform 0.3s;
    min-width: 250px;
    justify-content: center;
    text-align: center;
}

/* Hover efecto */
.btn:hover {
    transform: scale(1.05);
}

.azul {
    background: var(--color-boton-registrar-material);
    gap: 65px;
}

.azul a{
    color: white;
    text-decoration: none;
}



.naranja {
    background: var(--color-boton-ver-invetario);
    gap: 65px;
}

.naranja a{
    color: white;
    text-decoration: none;
}

.verde {
    background: var(--color-boton-generar-reporte);
    gap: 65px;

}

.verde a{
    color: white;
    text-decoration: none;
}

.morado {
    background: var(--color-boton-volver);
    width: 100px;
    padding: 10px 15px;
}

.icon-botones {
    width: 150px;
    height: 150px; 
}
