
.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
    
}

.container label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #252525;
    font-size: 25px;
}

.container input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #363636;
    border-radius: 8px;
    font-size: 25px;

}

.editable-field {
    display: flex;
    align-items: center;
}

.edit-icon {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: #007bff;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 25px;
}

.buttons button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    width: 30%;
    font-size: 25px;
    margin-top: 40px;
}

.delete-btn {
    background-color: #e74c3c;
}

.back-btn {
    background-color: #8e44ad;
}

.confirm-btn {
    background-color: #2ecc71;
}
